
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1">Mentorship</h1>
    <h3 class="mb-5">
      <em>A Free mentoring app that helps you achieve your personal & professional goals.</em>
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
  </div>
  <div class="overlay"></div>
</header>
 <!-- About -->
 <section class="content-section bg-light" id="about">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
        <p class="lead mb-5">This theme features a flexible, UX friendly sidebar menu and stock photos from our friends at
          <a href="https://unsplash.com/">Unsplash</a>!</p>
        <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">Meet Our Mentors</a>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
<!--      <h3 class="text-secondary mb-0">Services</h3>-->
      <h2 class="mb-5">Meet Our Mentors</h2>

    </div>
    <div class="" >
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 d-inline-block" *ngFor="let mentor of allMentors">
        <a [routerLink]="['/mentor',mentor._id]"><img class="img-fluid" src="{{mentor.url}}" alt="">
        </a>
        <h4>
          <strong>{{mentor.name}}</strong>
        </h4>
        <p class="text-faded mb-0">{{mentor.skills}}</p>
      </div>
    </div>

  </div>
  <div>
    <a class="btn btn-primary mt-5" [routerLink]="['/mentor/new']">Become A Mentor</a>
    <a class="btn btn-dark btn-xl js-scroll-trigger mt-5" href="#portfolio">Meet Our Mentors</a>

  </div>

</section>

<!--<app-show [viewMentor]="currentCMentorfornested"></app-show>-->

<router-outlet></router-outlet>

<!--&lt;!&ndash; Callout &ndash;&gt;-->
<!--<section class="callout">-->
<!--  <div class="container text-center">-->
<!--    <h2 class="mx-auto mb-5">Welcome to-->
<!--      <em>your</em>-->
<!--      next website!</h2>-->
<!--    <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download Now!</a>-->
<!--  </div>-->
<!--</section>-->

<!-- Portfolio -->
<section class="content-section" id="portfolio">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Portfolio</h3>
      <h2 class="mb-5">Recent Projects</h2>
    </div>
    <div class="card col-sm-6 offset-sm-3 mt-5">
      <div class="card-header">
        <h4>Thanks for volunteering to be a Mentor</h4>
      </div>
      <div class="card-body ">
        <!--    <h4 *ngIf="this.myError"> {{ this.myError }} </h4>-->


        <!--    <h5 *ngIf="this.newProduct.title.length < 5 && this.newProduct.title.length > 0"> Error: must be min 4</h5>-->
        <form (submit)=" makeNewMentor()">
          <div class="form-group">
            <label for="inputname">Name</label>
            <input type="text" class="form-control"  id="inputname" name="newMentor.name" [(ngModel)]="newMentor.name" placeholder="Enter name"/>
            <!--        <small id="inputnameHelp" class="form-text text-muted" *ngIf="newPet.name.length < 3 && newPet.name.length > 0"> Name is required.</small>-->

          </div>
          <div class="form-group">
            <label for="inputname1">Skils</label>
            <input type="Text" class="form-control" id="inputname1" name="newMentor.skills" [(ngModel)]="newMentor.skills" placeholder="Enter type"/>
            <!--        <small id="inputname1Help" class="form-text text-muted" *ngIf="newPet.type.length < 3 && newPet.type.length > 0"> Type is required.</small>-->

          </div>
          <div class="form-group">
            <label for="inputname2">Description</label>
            <input type="text" class="form-control" id="inputname2" name="newMentor.description" [(ngModel)]="newMentor.description" placeholder="Enter description"/>
            <!--        <small id="inputname2Help" class="form-text text-muted" *ngIf="newPet.description.length < 3 && newPet.description.length > 0"> Description is required.</small>-->

          </div>
          <div class="form-group">
            <label for="inputname2">Image</label>
            <input type="text" class="form-control" id="inputname3" name="newMentor.url" [(ngModel)]="newMentor.url" placeholder="Enter description"/>
            <!--        <small id="inputname2Help" class="form-text text-muted" *ngIf="newPet.description.length < 3 && newPet.description.length > 0"> Description is required.</small>-->

          </div>

          <input type="submit" value="Submit" class="button btn btn-primary offset-sm-3"/>
          <!--      <button class="button btn btn-primary offset-sm-1" [routerLink]="['/pets']" >Cancel</button>-->

        </form>
      </div>
    </div>


  </div>
</section>


<!--&lt;!&ndash; Portfolio &ndash;&gt;-->

<!--<section class="content-section" id="portfolio">-->
<!--  <div class="container">-->
<!--    <div class="content-section-heading text-center">-->
<!--      <h3 class="text-secondary mb-0">Portfolio</h3>-->
<!--      <h2 class="mb-5">Recent Projects</h2>-->
<!--    </div>-->
<!--    <div class="row no-gutters">-->
<!--      <div class="col-lg-6">-->
<!--        <a class="portfolio-item" href="#">-->
<!--          <span class="caption">-->
<!--            <span class="caption-content">-->
<!--              <h2>Stationary</h2>-->
<!--              <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>-->
<!--            </span>-->
<!--          </span>-->
<!--          <img class="img-fluid" src="img/portfolio-1.jpg" alt="">-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <a class="portfolio-item" href="#">-->
<!--          <span class="caption">-->
<!--            <span class="caption-content">-->
<!--              <h2>Ice Cream</h2>-->
<!--              <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>-->
<!--            </span>-->
<!--          </span>-->
<!--          <img class="img-fluid" src="img/portfolio-2.jpg" alt="">-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <a class="portfolio-item" href="#">-->
<!--          <span class="caption">-->
<!--            <span class="caption-content">-->
<!--              <h2>Strawberries</h2>-->
<!--              <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>-->
<!--            </span>-->
<!--          </span>-->
<!--          <img class="img-fluid" src="img/portfolio-3.jpg" alt="">-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="col-lg-6">-->
<!--        <a class="portfolio-item" href="#">-->
<!--          <span class="caption">-->
<!--            <span class="caption-content">-->
<!--              <h2>Workspace</h2>-->
<!--              <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>-->
<!--            </span>-->
<!--          </span>-->
<!--          <img class="img-fluid" src="img/portfolio-4.jpg" alt="">-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->


<!-- Call to Action -->
<section class="content-section bg-primary text-white">
  <div class="container text-center">
    <h2 class="mb-4">The buttons below are impossible to resist...</h2>
    <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
    <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
  </div>
</section>

<!-- Map -->
<section id="contact" class="map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
  <br />
  <small>
    <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
  </small>
</section>

<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#">
          <i class="icon-social-facebook"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#">
          <i class="icon-social-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="#">
          <i class="icon-social-github"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
  </div>
</footer>
<!--<router-outlet></router-outlet>-->
