
<section class="content-section bg-light" id="about">
  <div class="container ">

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-3">
        <img class="img-fluid" src="{{viewMentor.url}}" alt="">
      </div>

      <div class="col-md-4">
        <h1 class="my-4">{{viewMentor.name}}</h1>
        <p class="text-secondary mb-0">{{viewMentor.skills}}</p>
        <h3 class="my-3">About Me</h3>
        <p>{{viewMentor.description}}</p>
        <h3 class="my-3">Ratings</h3>
        <ul>
          <li>Dolor Sit Amet</li>
          <li>Consectetur</li>
          <li>Adipiscing Elit</li>
        </ul>
      </div>
    </div>
    </div>

</section>
